{% extends "base.html" %}
{% load static %}
{% block title %}Service{% endblock title %}
{% block content %}
<!-- services -->
<div class="inner-banner-w3ls">
    <div class="container">

    </div>
    <!-- //banner 2 -->
</div>
<div class="why-choose-agile pt-5" id="services">
    <div class="container pt-xl-5 pt-lg-3">
        <div class="w3ls-titles text-center mb-5">
            <h3 class="title">Our Best Services</h3>
            <span>
                <i class="fas fa-user-md"></i>
            </span>
            <p class="mt-2">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row why-choose-agile-grids-top">
            <div class="col-lg-4 agileits-w3layouts-grid">
                <div class="row wthree_agile_us">
                    <div class="col-3 agile-why-text p-0 text-right">
                        <div class="wthree_features_grid">
                            <i class="fas fa-user-md"></i>
                        </div>
                    </div>
                    <div class="col-9 agile-why-text-2">
                        <h4 class="text-dark font-weight-bold mb-3">General health care</h4>
                        <p>Lorem ipsum magna, vehicula ut porta ete.</p>
                    </div>
                </div>
                <div class="row wthree_agile_us my-5">
                    <div class="col-3 agile-why-text p-0 text-right">
                        <div class="wthree_features_grid">
                            <i class="fas fa-syringe"></i>
                        </div>
                    </div>
                    <div class="col-9 agile-why-text-2">
                        <h4 class="text-dark font-weight-bold mb-3">Dental services</h4>
                        <p>Lorem ipsum magna, vehicula ut porta ete.</p>
                    </div>
                </div>
                <div class="row wthree_agile_us">
                    <div class="col-3 agile-why-text p-0 text-right">
                        <div class="wthree_features_grid">
                            <i class="fab fa-medrt"></i>
                        </div>
                    </div>
                    <div class="col-9 agile-why-text-2">
                        <h4 class="text-dark font-weight-bold mb-3">Medical Treatment</h4>
                        <p>Lorem ipsum magna, vehicula ut porta ete.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 agileits-w3layouts-grid img text-center">
                <img src="images/b3.png" alt=" " class="img-fluid" />
            </div>
            <div class="col-lg-4 agileits-w3layouts-grid">
                <div class="row wthree_agile_us">
                    <div class="col-9 agile-why-text-2">
                        <h4 class="text-dark font-weight-bold mb-3">Cardiac Clinic</h4>
                        <p>Lorem ipsum magna, vehicula ut porta ete.</p>
                    </div>
                    <div class="col-3 agile-why-text p-0">
                        <div class="wthree_features_grid">
                            <i class="fas fa-medkit"></i>
                        </div>
                    </div>
                </div>
                <div class="row wthree_agile_us my-5">
                    <div class="col-9 agile-why-text-2">
                        <h4 class="text-dark font-weight-bold mb-3">Orthopedics</h4>
                        <p>Lorem ipsum magna, vehicula ut porta ete.</p>
                    </div>
                    <div class="col-3 agile-why-text p-0">
                        <div class="wthree_features_grid">
                            <i class="fas fa-wheelchair"></i>
                        </div>
                    </div>
                </div>
                <div class="row wthree_agile_us">
                    <div class="col-9 agile-why-text-2">
                        <h4 class="text-dark font-weight-bold mb-3">Laboratory</h4>
                        <p>Lorem ipsum magna, vehicula ut porta ete.</p>
                    </div>
                    <div class="col-3 agile-why-text p-0">
                        <div class="wthree_features_grid">
                            <i class="fas fa-hospital"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
<!-- //services -->